@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body,td,th {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #666;
	margin: 0px;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
html, body {
	height: 100%;
}
body {
	background-color: #FFF;
	width: 100%;
	overflow-x: hidden;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
img {
	border: 0;
	display: block;
}
h2 {
	font-family: NexaHeavy;
	font-size: 15px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #F36F21;
}
#wrapper {
	display: block;
	position:relative; 
	width: 100%;
	overflow: hidden;
}
#mainContent {
	position: relative;
	display: block;
	width: 100%;
	left: 0;
	top: 0;
	padding-top: 10px;
	z-index:1;
	background: white;
}
#subContent a:link, #subContent a:visited, #subContent a:hover, #subContent a:active {
	color: #5A4A42 !important;
}
#header {
	display: block;
	width: 100%;
	height: 28px;
	background-color: #f26f21;
	border-bottom: solid 1px #4d4d4d;
}
#logo {
	float: left;
	display: block;
	width: 74px;
	height: 28px;
	margin-left: 28px;
}
#menuButton {
	float: right;
	display: block;
	width: 15px;
	height: 15px;
	margin-top: 6px;
	margin-right: 8px;
	cursor: pointer;
}
#contactButton {
	float: right;
	font-weight: 600;
	color: white;
	margin-top: 5px;
	margin-right: 15px;
}
.navButton {
	display: block;
	height: 25px;
	width: 100%;
	border-bottom: solid 1px white;
	background-color: #f26f21;
	color: white!important;
	padding-left: 28px;
	padding-top: 4px;
}
#footer {
	display: block;
	position: relative;
	background-color: white;
	width: 100%;
	height: 25px;
}
#footer p {
	position: absolute;
	color: black;
	font-size: 9px;
	right: 8px;
	bottom: 8px;
}

/* Sliding Navigation */

#slideNavigation {
	display: block;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 0;
	z-index: 0;
	height: 100%;
	overflow-y: scroll;
}
#slideBody {
	background-color: #4d4d4d;
	padding: 12px;
	padding-left: 40px;
	padding-bottom: 41px;
}
#searchForm {
	display: block;
	width: 100%;
	height: 29px;
	
}
#searchSubmit {
	float: right;
}
#searchInput {
	float: right;
	height: 29px;
	background: #b3b3b3;
	color: white;
	padding-left: 10px;
	text-transform:uppercase;
}
#linksMenu {
	position: relative;
	top: 41px;
}
#socialLinks {
	display: block;
	width: 100%;
}
#twitter, #linkedin, #facebook {
	float: right;
}
#linkedin {
	margin-right: 11px;
}
#facebook {
	margin-right: 9px;
}
#slideNavigation ul {
	clear: both;
	list-style: none;
}
.slideNavButton {
	width: 100%;
	margin-top: 25px;
}
.slideNavButton a {
	display: block;
	width: 100%;
	border-bottom: solid 2px #ccc;
	padding-bottom: 1px;
	color: #cccccc;
}
.subNavButton {
	width: 90%;
	margin-left: 10%;
	margin-top: 10px;
}
.subNavButton a {
	display: block;
	width: 100%;
	border-bottom: solid 1px #ccc;
	padding-bottom: 1px;
	color: white;
}
#slideFooter {
	display: block;
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right: 12px;
	padding-left: 40px;
	background-color: #e6e6e6;
}
#footerLinks, #footerContact, #footerLinks a, #footerContact a {
	color: #4d4d4d;
}



