@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
	border: 0;
}
div {
	border: 0;
}

body,td,th {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #999;
}

a:link {
	color: #999;
}
a:visited {
	color: #999;
}
a:hover {
	color: #666;
}
a:active {
	color: #FFF;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden; /* This is it */
}

body p {
	line-height: 1.5em;
}

#pageContainer
{
	position: relative;
	overflow: hidden;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-left: solid #999 1px;
	border-right: solid #999 1px;
	border-bottom: solid #999 1px;
	min-width: 750px;
	background: #eaf3e2;
}

#header { position: relative; width: 100%; height: auto;}
#logo  {width: 20%; height: auto; position: relative; margin-left: 5%;}
#logo img, #hamburger img{width: 100%; height: auto;}

#hamburger {
	position: absolute;
	width: 8%;
	height: 8%;
	right: 5%;
	top: 35%;
	display: none;
}

h1 {
	font-size: 32px;
	font-weight:100;
	color: #cee4b9;
	text-shadow: 2px 2px #CCC;
	line-height: 32px;
}

h3 {
	font-size: 24px;
	font-weight:100;
	line-height: 32px;
	color: #666;
}

h4 {
	font-size: 18px;
	font-weight:100;
	color: #666;
	line-height: 19px;
}

#topNav {
	position: absolute;
	z-index: 10;
	bottom: 70px;
	right: 2%;
	min-width: 540px;
	
}

#topNav ul ul {
	display: none;
}

	#topNav ul li:hover > ul {
		display: block;
		
	}
	
#topNav ul {
	list-style: none;
	position: relative;
	padding-left: 0;
	margin-left: 0;
	
}
	#topNav ul:after {
		content: ""; clear: both; display: block;
	}

#topNav ul li {
	float: left;
	padding: 5px;
	width: 90px;
	border-top: solid #999 1px;
	border-bottom: solid #999 1px;
	border-left: solid #999 1px;
	transition: background 0.5s, color 0.5s;
	-webkit-transition: background 0.5s, color 0.5s;
	text-align: center;
	
}
	#topNav ul li:hover {
		background: #cee4b9;
	}
		#topNav ul li:hover a {
			color: white;
		}
	
	#topNav ul li a {
		color:#999; text-decoration: none;
	}
	
#topNav ul ul {
	position: absolute; padding-top: 10px; padding-left: 0; margin-left: -5px;
}
	#topNav ul ul li {
		float: none; 
		border: none;
		position: relative;
		background-image: none;
		background:#CCC;
		padding: 5px;
		opacity: 0.8;
		transition: background 0.5s;
		-webkit-transition: background 0.5s;
		color: white;
		width: 160px;
		text-align: left;
		text-transform:uppercase;
	}
	#topNav ul ul li:hover {
		background: white;
	}
		#topNav ul ul li a:link, #topNav ul ul li a:visited {
			color: black;
			font-size: 10px;
			font-weight: normal;
			white-space: nowrap;
    		text-overflow: ellipsis;
			display: block;
			
		}	
		
	.last{border-right: solid #999 1px;}
			
#slider
{
	position: relative;
	width: 100%;
	height: auto;
	background: #eaf3e2;
	border-top: solid white 10px;
	border-bottom: solid white 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	-moz-box-shadow:    0px 5px 5px #CCC;
	-webkit-box-shadow: 0px 5px 5px #CCC;
	box-shadow: 0px 5px 5px #CCC;
	overflow: hidden;
}

#content1, #content2
{
	width: 38%;
	margin: 6%;
	float: left;
}
#contentWide {width: 88%; margin: 6%; float: left;}

#content1 p, #content2 p
{
	margin-left: 20px;
}

#footer
{
	clear: both;
	position: relative;
	text-align: center;
	font-size: 10px;
	color: #999;
	padding-bottom: 50px;
}

/* Sliding Navigation */

#slideNavigation {
	display: none;
	position: absolute;
	width: 70%;
	left: 100%;
	top: 100px;
	z-index: 1;
	height: 100%;
}
#slideBody {
	background-color: #CEE4B9;
	padding: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
}

#linksMenu {
	position: relative;
	top: 12px;
}
#slideNavigation ul {
	clear: both;
	list-style: none;
}
.slideNavButton {
	width: 100%;
	margin-top: 25px;
}
.slideNavButton a {
	display: block;
	width: 100%;
	border-bottom: solid 2px #006837;
	padding-bottom: 1px;
	color: #006837;
	font-size: 16px;
	font-weight: 100;
	text-decoration: none;
}
#gotomap {
	display: none;
}

@media only screen 
and (max-width : 649px)
{
	#pageContainer {
		min-width: 100%;
	}
	
	body,td,th {
		font-size: 14px;
		line-height: 18px;
	}

	
	#sliderContent1 , #sliderContent2, #sliderContent3, #dots {
		display: none!important;
	}
	
	#slider h1 {
		
	}
	
	#callToAction
	{
		position: relative;
		margin-left: 10%;
		width: 90%;
		height: 285px;
		border-top: solid white 10px;
		border-bottom: solid white 10px;
		-moz-box-shadow:    -5px 5px 5px #CCC;
		-webkit-box-shadow: -5px 5px 5px #CCC;
		box-shadow: -5px 5px 5px #CCC;
	}
	
	#content1, #content2
	{
		width: 88%; margin: 6%; float: left;
	}

	#slideNavigation, #hamburger 
	{
		display: block;
	}
	
	#topNav {
		display: none;
	}

}